Amanda Arce
Project 4

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import numpy as np
import pandas as pd

In [4]:
url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json'
trees = pd.read_json(url)
trees.head(10)

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council_district,census_tract,bin,bbl
0,180683,348711,2015-08-27,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,2015-09-03,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,2015-09-05,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,2015-09-05,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,2015-08-30,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.4260,39.0,165.0,3025654.0,3.010850e+09
5,190422,106099,2015-08-30,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500,New York,40.770046,-73.984950,9.884187e+05,219825.5227,3.0,145.0,1076229.0,1.011310e+09
6,190426,106099,2015-08-30,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500,New York,40.770210,-73.985338,9.883112e+05,219885.2785,3.0,145.0,1076229.0,1.011310e+09
7,208649,103940,2015-09-07,9,0,OnCurb,Alive,Good,Tilia americana,American linden,...,1012700,New York,40.762724,-73.987297,9.877691e+05,217157.8561,3.0,133.0,1086093.0,1.010410e+09
8,209610,407443,2015-09-08,6,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,5006400,New York,40.596579,-74.076255,9.630732e+05,156635.5542,NaN,NaN,NaN,NaN
9,192755,207508,2015-08-31,21,0,OffsetFromCurb,Alive,Fair,Platanus x acerifolia,London planetree,...,3037402,New York,40.586357,-73.969744,9.926537e+05,152903.6306,47.0,37402.0,3320727.0,3.072350e+09

In [5]:
trees.columns.values.tolist()

['tree_id',
 'block_id',
 'created_at',
 'tree_dbh',
 'stump_diam',
 'curb_loc',
 'status',
 'health',
 'spc_latin',
 'spc_common',
 'steward',
 'guards',
 'sidewalk',
 'user_type',
 'problems',
 'root_stone',
 'root_grate',
 'root_other',
 'trunk_wire',
 'trnk_light',
 'trnk_other',
 'brch_light',
 'brch_shoe',
 'brch_other',
 'address',
 'zipcode',
 'zip_city',
 'cb_num',
 'borocode',
 'boroname',
 'cncldist',
 'st_assem',
 'st_senate',
 'nta',
 'nta_name',
 'boro_ct',
 'state',
 'latitude',
 'longitude',
 'x_sp',
 'y_sp',
 'council_district',
 'census_tract',
 'bin',
 'bbl']

In [6]:
boro = 'Bronx'
BX_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Bronx\'' +\
        '&$group=health').replace(' ', '%20')
BX_soql_url = pd.read_json(BX_soql_url)
BX_soql_url

boro = 'Brooklyn'
BK_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Brooklyn\'' +\
        '&$group=health').replace(' ', '%20')
BK_soql_url = pd.read_json(BK_soql_url)
BK_soql_url

boro = 'Staten Island'
SI_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Staten Island\'' +\
        '&$group=health').replace(' ', '%20')
SI_soql_url = pd.read_json(SI_soql_url)
SI_soql_url

boro = 'Manhattan'
M_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Manhattan\'' +\
        '&$group=health').replace(' ', '%20')
M_soql_url = pd.read_json(M_soql_url)
M_soql_url


boro = 'Queens'
QN_soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=health,count(tree_id)' +\
        '&$where=boroname=\'Queens\'' +\
        '&$group=health').replace(' ', '%20')
QN_soql_url = pd.read_json(QN_soql_url)
QN_soql_url

  health  count_tree_id
0   Fair          34549
1   Good         194008
2   Poor           9417
3    NaN          12577

In [ ]:
app = dash.Dash()

colors = {'background':'D3D3D3', 'text':'#4a4949'}

app.layout = html.Div(children=[
    html.H1('NYC Proportion of Trees by Borough',style={'textAlign':'center',
                                                       'color':colors['text']}),
    html.Div('Tree Health',style={'textAlign':'center',
                                 'color':colors['text']}),
    dcc.Graph(id='Graph',
             figure={
            'data': [
                {'x': BX_soql_url['health'], 'y':BX_soql_url['count_tree_id'], 'type': 'bar', 'name': 'Bronx'},
                {'x': BK_soql_url['health'], 'y':BK_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Brooklyn'},
                {'x': QN_soql_url['health'], 'y':QN_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Queens'},
                {'x': M_soql_url['health'], 'y':M_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Manhattan'},
                {'x': SI_soql_url['health'], 'y':SI_soql_url['count_tree_id'], 'type': 'bar', 'name': u'Staten Island'}
            ],
            'layout': {
                'title': 'Health condition of Trees by boroughs of NYC',
                'plot_bgcolor':colors['background'],
                'paper_bgcolor':colors['background'],
                'font':{'color':colors['text']}
                
            }
        }
    )
])


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)